<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
     <!-- css node - express.static -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">  
     <!-- css custom -->
     <link rel="stylesheet" href="/stylesheets/main.css">  
</head>
<body>
    <div>
        <a href="/me/list" class="btn btn-info ml-3">Refresh</a>
    </div>    
    <!--   <% if (messages.error) { %>
      <p style="color:red"><%- messages.error %></p>
    <% } %> -->
    <% if (messages.success) { %>
        <p class="alert alert-success mt-4"><%- messages.success %></p>
    <% } %>  
    <br>
      <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Action </th>

     
      </tr>
    </thead>
    <tbody>
      <% if(data.length){
     
      for(var i = 0; i< data.length; i++) {%>  
      <tr>
        <th scope="row"><%= (i+1) %></th>
        <td class="name"><%= data[i].userName%></td>
        <td class="email"><%= data[i].email%></td>
        <td class="user"><button oid=<%= data[i]._id %> class="btn btn-danger btn-del">Delete</button>
          <button oid=<%= data[i]._id %> class="btn btn-primary btn-update">Update</button></td>
      </tr>
      <% }
               
       }else{ %>
           <tr>
              <td colspan="3">No user</td>
           </tr>
        <% } %>    
      
    </tbody>
    </table>

    <div class="container">
      <h2>Small Modal</h2>
      <!-- Trigger the modal with a button -->
      <button id="modelTrigger" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Small Modal</button>
    
      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog" td-id="0">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
              <div class="form-group mt-1">
                <input type="text" name="id" class="form-control" id="id" hidden value="">
              </div>
              <div class="form-group mt-1">
                <label for="username">User Name</label>
                <input type="text" name="username" class="form-control" id="username"  value="">
              </div>
                <div class="form-group mt-1">
                  <label for="email">Email address</label>
                  <input type="email" name="email" class="form-control" id="email" value="">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- scripts from node redirected in app.js with express.static -->
      <script src="/js/jquery.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <!-- scripts from public-->
      <script src="/javascripts/main.js"></script>
</body>
</html>