<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

     <%- include('../components/css.ejs') %>  <!-- include css -->
</head>

<body>
  <div>
   
  <div class="text-center" >
    <h2 class="text ">User List <a href="/me/list" class="btn btn-info m-3 float-right">Refresh</a></h2>
  </div>
  <div class="separator"></div>

  </div>
  <article>
    <nav class="navbar">

      <ul class="navbar-list">
    
          <li class="navbar-item">
              <a class="navbar-link  active" href="/me/list" data-nav-link="">List</a>
          </li>
    
          <li class="navbar-item">
              <a class="navbar-link" href="/me/chat" data-nav-link="">Chat</a>
          </li>
    
      </ul>
    
    </nav>   
<!--
    <% if (messages.success) { %>
      alert('hi');
        <p class="alert alert-success mt-4"> nonce-<%- messages.nonce %></p>
    <% } %>  
     -->

      <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Action </th>

     
      </tr>
    </thead>
    <tbody>
      <% if(data.length){
     
      for(var i = 0; i< data.length; i++) {%>  
      <tr>
        <th scope="row"><%= (i+1) %></th>
        <td class="name"><%= data[i].userName%></td>
        <td class="email"><%= data[i].email%></td>
        <td class="user"><button oid=<%= data[i]._id %> class="btn btn-danger btn-del">Delete</button>
          <button oid=<%= data[i]._id %> class="btn btn-primary btn-update">Update</button></td>
      </tr>
      <% }
               
       }else{ %>
           <tr>
              <td colspan="3">No user</td>
           </tr>
        <% } %>    
      
    </tbody>
    </table>

    <%- include('./modal.ejs') %>  <!-- include model html code -->

    <%- include('../components/js.ejs') %>  <!-- include js -->

  </article>
</body>
</html>